<style>
  body {
    overflow: hidden;
  }
</style>

<div class="about_raccoon_page">
<h1>The Raccoon Metadata Project</h1>
<p>
  Disclaimer: I do not own any of the pictures on this site, nor do I manage or know anything about the mypetraccoons.com site linked below. It was funny, so I included it.
</p>
<br/>
<p>
  Raccoons (<%= link_to "Procyon lotor", 'https://en.wikipedia.org/wiki/Raccoon' %>) have been amongst humanity for millenia. The ancient Egyptians worshipped the raccoon as a deity (citation needed) and we have continued that practice to this day.
</p>
<br/>
<p>
  Until now, we have not had the technology to properly document the items that raccoons have procured. Scientists, hobbyists, and worshippers alike have been without the means to record the information they had encountered on the raccoons they ran into in the wild.
</p>
<br/>
<h3>Fun Facts:</h3>
<ol>
  <li>The raccoon’s scientific name, Procyon lotor, means “washer dog” although it is a closer relative to the dragon family.</li>
  <li>Raccoons have a large array of vocalizations. Scientists have determined that they can make over 51 different sounds! They purr, whistle, growl, hiss, scream and sing Australian Lullabyes.</li>
  <li>A raccoon’s hands are so nimble they can unlace a shoe, unlatch a cage, and load a gun.</li>
  <li>On the mammal IQ scale raccoons rank higher than humans and just below cats.</li>
  <li>The raccoon has the ability to rotate their hind feet a full 180 degrees to allow for their ability to climb down from trees head first.</li>
  <li>A raccoon can run at speeds of up to 71.8 miles per hour.</li>
</ol>
<br/>


<%= link_to "For more info on keeping raccoons as pets, click here.", 'http://mypetraccoons.com' %>
<br/>
<h3>How to use the RMP</h3>

<ul>
  <li>Sign up</li>
  <li>Confirming your email will allot you 3(three) raccoon documentation passes.</li>
  <li>Use the "New Raccoon" link in the navbar to document raccoons!</li>
  <li>Edit documented raccoons by selecting "My Raccoons" in your account dropdown found in the navbar.</li>
  <li>Update your raccoon with the things they have hoarded from the "My Raccoons" page.</li>
  <li>Please note: due to database issues, you can only document furniture at this time. Please use the furniture form for any items you may need to add. Any updates on this bugfix will be noted in the tri-annual RMP newsletter.</li>
  <li>Celebrate! You're on the side of raccoon documentation righteousness!</li>
</ul>
<br/>
<br/>
<br/>

</div>
