
<div class="row mine-space">
    <% @raccoons.each do |raccoon| %>
      <div class="col-md-12">
       <div class="panel panel-default">
        <div class="panel-body sizer">
          <%  if raccoon.avatar_file_name %>
          <div class="raccoon-vatar card"><%= link_to (image_tag raccoon.avatar.url(:thumb)), edit_raccoon_path(raccoon), class: "img-responsive raccoon-time", remote: true %></a></div>
          <% end %>
          <div class="raccoon-deets">
          <h2 data-toggle="tooltip" title="<%= raccoon.name %>"><%= link_to raccoon.name, edit_raccoon_path(raccoon), remote: true %></h2>
          <%= link_to "Euthanize", raccoon_path(raccoon), method: :delete,data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-lg", role: "button" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class= "raccoon-fo">
  <div class="panel panel-default placement">
    <div class="panel-body">
      <button class = "raccoon-off"><span class="glyphicon glyphicon-remove">CLOSE</span></button>
      <div id = "inforaccoon"></div>
    </div>
  </div>
</div>
